.top-panel {
  display: flex;
  min-height: 70px;
  justify-content: center;
  align-items: center;
}

.top-panel-menu {
  display: flex;
  justify-content: center;
}

.top-panel-menu-item {
  margin-left: 10px;
  margin-right: 10px;
}

.main-content {
  padding: 50px 0;
}